        <div id="content">
            <button id="refreshFromServer" (click)="refresh($event)">Refresh</button>

            <p id="blurb">Please select the track, then hit Play.</p>

            <div><input id="audioFile" type="file" (change)="import($event)" /></div>

            <settings-panel></settings-panel>
        
            <button id="play" (click)="play($event)" [disabled]="isPlaying">Play</button>
            <button id="stop" (click)="stop($event)" [disabled]="!isPlaying">Stop</button>

            <div id="exportHolder">
                <a id="export" [href]="!isPlaying ? mp3Blob.url : ''" download="musicShifter_output.mp3">[Export]</a>
            <div>
        </div>
